@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #7380ec;
  --color-dander: #ff7782;
  --color-success: #42f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-white);
}
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  color: var(--color-dark);
}

/* ========================== Dashboard ==================================== */
.dashboard {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 4.05rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color-white);
  font-family: "Poppins", sans-serif;
  border-radius: var(--card-border-radius);
}
.dashboard label {
  color: #fff;
}
.dashboard textarea {
  margin: 0 3rem 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  width: 45%;
  border: 1px solid #000;
}
.dashboard textarea::placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
}
.dashboard h2 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 1.5rem;
  color: #000;
}
.dashboard03 {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dashboard01 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 75%;
}
.dashboard01 textarea {
  width: 45%;
}
.dashboard02 {
  width: 75%;
}
.dashboard04 {
  width: 75%;
}
.sideMenu {
  width: 5%;
  position: absolute;
  top: 11%;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.sideMenu img {
  width: 50%;
}
#BulletPoints {
  height: 100%;
}
#BulletPoints ul {
  margin: 0;
  padding: 0;
}
#BulletPoints ul h2 {
  font-size: 20px;
  margin: 1rem 0;
  color: #000;
}
#BulletPoints ul li {
  list-style: none;
  font-size: 15px;
  margin: 15px;
  line-height: 23px;
}
#ImgUploadButton {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #fff;
  left: 0;
  cursor: pointer;
}
.listingInputWrapper {
  width: 48%;
  padding: 1rem;
  background: #f99500;
  position: relative;
  color: #fff;
  border-radius: 8px;
  text-align: center;
}
/* ========================== End Dashboard ==================================== */
.ProductWrapper {
  display: block;
}
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.text-muted {
  color: var(--color-info-dark);
}
p {
  color: var(--color-dark-variant);
}
b {
  color: var(--color-dark);
}
.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-dander);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}
aside {
  height: 100vh;
  /* background-color: gray; */
}
aside .top {
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
}
aside .logo {
  display: flex;
  gap: 0.8rem;
}
aside .logo img {
  width: 2rem;
  height: 2rem;
}
aside .close {
  display: none;
}

/* ========================== SIDEBAR ==================================== */

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
aside h3 {
  font-weight: 500;
}
aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}
aside .sidebar a i {
  font-size: 1.6rem;
  transition: all 300ms ease;
}
aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
}
aside .sidebar a.active i {
  color: var(--color-primary);
  margin-left: calc(1rem - 6px);
}
aside .sidebar a:hover {
  color: var(--color-primary);
}
aside .sidebar a:hover i {
  margin-left: 1rem;
}
aside .sidebar .message-count {
  background-color: var(--color-dander);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/* ========================== #adminMain ==================================== */

#adminMain {
  margin-top: 1.4rem;
}
#adminMain .date,
.ProductWrapper .date {
  display: inline-block;
  background-color: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}
#adminMain .date input[type="date"],
.ProductWrapper .date input[type="date"] {
  background-color: transparent;
  color: var(--color-dark);
}

#adminMain .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
#adminMain .insights > div {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
#adminMain .insights > div:hover {
  box-shadow: none;
}
#adminMain .insights > div i {
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}
#adminMain .insights > div.expenses i {
  background-color: var(--color-dander);
}
#adminMain .insights > div.income i {
  background-color: var(--color-success);
}
#adminMain .insights > div .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#adminMain .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}
#adminMain .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
#adminMain .insights svg {
  width: 7rem;
  height: 7rem;
}
#adminMain .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dashoffset: 92;
}
#adminMain .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
#adminMain .insights .expenses svg circle {
  stroke-dashoffset: 15;
  stroke-dasharray: 80;
}
#adminMain .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}
#adminMain .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#adminMain .insights small {
  margin-top: 1.6rem;
  display: block;
}

/* ========================== RECENT ORDER ================================== */
#adminMain .recent-orders {
  margin-top: 2rem;
}
#adminMain .recent-orders h2 {
  margin-bottom: 0.8rem;
}
#adminMain .recent-orders table {
  background-color: var(--color-white);
  width: 95%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-sizing: var(--box-shadow);
  transition: all 300ms ease;
}
#adminMain .recent-orders table:hover {
  box-shadow: none;
}
#adminMain table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
#adminMain table tbody tr:last-child td {
  border: none;
}
#adminMain .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

/* ========================== RIGHT ==================================== */

.right {
  margin-top: 1.4rem;
}
.right .top {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.right .top button {
  display: none;
}
.right .theme-toggler {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.right .theme-toggler i {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler i.active {
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}
.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

/* ========================== RECENT UPDATES ================================= */

.right .recent-updates {
  margin-top: 1rem;
}
.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}
.right .recent-updates .updates {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .recent-updates .updates:hover {
  box-shadow: none;
}
.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ========================== SALES ANALYTICS ================================= */

.right .sales-analytics {
  margin-top: 2rem;
}
.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}
.right .sales-analytics .item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .sales-analytics .item:hover {
  box-shadow: none;
}
.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
}
.right .sales-analytics .item.offline .icon {
  background-color: var(--color-dander);
}
.right .sales-analytics .item.customers .icon {
  background-color: var(--color-success);
}
.right .sales-analytics .add-product {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .sales-analytics .add-product div {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}
.right .sales-analytics .add-product div h3 {
  font-weight: 600;
}

/* ========================== MEDIA QUERIES ================================= */

@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }
  aside .sidebar a {
    width: 5.6rem;
  }
  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  #adminMain .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
  #adminMain .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  #adminMain .recent-orders table {
    width: 83vw;
  }

  #adminMain table thead tr th:last-child,
  #adminMain table thead tr th:first-child {
    display: none;
  }
  #adminMain table tbody tr td:last-child,
  #adminMain table tbody tr td:first-child {
    display: none;
  }
}

/* ========================== MEDIA QUERIES ================================= */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .container {
    width: 95%;
    grid-template-columns: 1fr;
  }
  aside {
    position: fixed;
    left: -100%;
    background-color: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100%;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside .logo {
    margin-left: 1rem;
  }
  aside .logo h2 {
    display: inline;
  }
  aside .top {
    justify-content: space-between;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:hover {
    position: absolute;
    bottom: 5rem;
  }
  aside .close {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #adminMain {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  #adminMain .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  #adminMain .recent-orders table {
    width: 90%;
    margin: 0;
  }
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background-color: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-white);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  .right .profile .info {
    display: none;
  }
  .right .top button {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button i {
    font-size: 2rem;
  }
}
